*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/docs/POJO MOJO
/docs/icon-assets
app/schemas/edu.cnm.deepdive.choppit.service.ChoppitDatabase/1.json
/NLP resources/
/.idea/sonarlint/
